*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.firstli{
    display: flex;
}

.firstli a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55 ease;
}

.firstli a:hover{
    border-bottom: 2px solid white;
}
#men{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    border: 10px solid white;
    display: none;
}

.super{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

img{
    margin-top: 200px;

}

section{
    padding: 0 19%;
}

.hero h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero h1{
    font-family: cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.hero h4{
    color: white;
}

.hero p{
    color: white;
}

.hero a{
    display: inline-block;
    color: white;
    background: #4d9559;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero a.wait{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero a.wait i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.icons i:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateY(-8px);
}

.scroll{
    position: absolute;
    right: 9%;
    bottom: 6%;
}

.scroll i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll i:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateY(-8px);
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }

    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll{
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0px 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .gameimg{ 
        width: 100%;
        height: auto;
    }
    .hero h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero h5{
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero{
        padding-top: 115px;
    }
    .gameimg{
        text-align: center;
    }
    .gameimg img{
        width: 550px;
        height: auto;
    }
    .super{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 990px){
    #men{
        display: block;
    }
    .firstli{
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transform: scale(0);
        transition: all .55s ease;
    }
    
    .firstli.active-popup {
        transform: scale(1);
    }

    .firstli a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }
}

@media (max-width: 680px){
    .gameimg{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 896px){

     .super{
        min-height: 50vh;
        min-width: 90vw;
        overflow: hidden;
        width: 100%;

    }
    section{
        padding: 0 50px;
        transition: .2s;
    }
    .scroll{
        right: 5px;
        bottom: 10px;
        bottom: 10px;
    }
    .hero {
        font-size: small;
    }

    .hero h1{
        font-size: 30px;
    }

    header{
        position: absolute;
    }
}

@media (min-width: 375px) {
    section{
        padding: 0 50px;
    }
    .icons{
        margin-top: 100px;
    }
}

@media (min-width: 430px){
    section{
        padding-bottom: 90px;
    }
}

@media (min-height: 430px){
    section{
        padding: 20px;
        padding-left: 200px;
    }
    .scroll{
        bottom: 10px;
    }
}